#################################
# Google Cloud Provider variables
#################################

google_project = "YOUR_PROJECT"

################################
# Kubernetes Provider variables
################################

gke_network_policy    = true
gke_node_machine_type = "n1-standard-2"
gke_volume_name       = "reddit-mongo-data"
gke_volume_size       = 25
